@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/*INICIO HEADER */
header{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

h1{
    font-size: 50px;
    position: absolute;
    color:rgb(228, 203, 13);
    padding: 5px;
    top: 20%;
    left: 50%;
}

.header .logo{
    cursor:pointer;
}

.header .logo img{
    height:50px ;
    width: auto;
    transition: all 0.3s;

}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform:scale(1.1)
}

.header .nav-links a{
    font-size: 700;
    color: rgb(144, 6, 80);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgb(6, 31, 130);
}

.header .btn button{
    font-weight: 700;
    color: #232323;
    padding: 9px 25px;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #f5f5f5;
    color: chartreuse;
    transform: scale(1.1);
}

/*FIN HEADER */


/* BODY MAIN SECTION */
body{
    display: flex;
    flex-direction: column;
    background: rgb(107,0,0);
    background: linear-gradient(0deg, rgba(107,0,0,1) 0%, rgba(0,0,0,1) 67%);
}

main{
    flex-grow: 1;
}

div#eventos{
 width: 250px;
 height: 250px;
}
div.section{
    display: flex;
    width: 100%;
    height: 250px;
    object-position: 0% 80% ;

}
div.section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    object-position: 0% 50% ;
}

div.section img:hover{
    cursor:crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/*
/* BODY MAIN SECTION */


/* FORM LABEL INPUTS */
form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10px 5px;
    color: #ccc;
}
label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 5px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
.input:focus {
    background-color: white;
    transform: scale(1.05);
}

/* FORM LABEL INPUTS */
section{
    background: rgb(107,0,0);
    background: linear-gradient(0deg, rgba(107,0,0,1) 0%, rgba(0,0,0,1) 67%);
}

.card{
    display: flex;
    width: 300px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
}
.card.img{
    width:50%;
    border-radius: 5px;
}
div.event-card {
    width: 300px; /* Establece el ancho de cada card según tus preferencias */
    min-height: 300px;
    margin: 10px; /* Agrega un margen entre las cards */
    display: inline-block; /* Coloca las cards en línea una al lado de la otra */
    vertical-align: top; /* Alinea las cards en la parte superior */
    padding: 10px; /* Agrega un relleno dentro de cada card */
    box-sizing: border-box;
  }
  
.card-events{
    flex: 1; /* Hace que el contenido se expanda verticalmente para igualar las alturas */
    font-size: 12px;
    padding: 10px; /* Relleno dentro de cada tarjeta */
}
.card-title{
    font-size: 15px;
    color: #ffffff;
}

.card.card-events{
    background-color: #f6e2e2a4;
}

#contenedorEventos.row{
    justify-content: space-around;
    
}
/* FORM LABEL INPUTS 
div.event-card{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:50px;
    min-height: 350px;
    border-radius: 20px;
    
}*/

input .button {
    display: flex;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
}
  
.by-name {
    font-weight: 700;
}

/* CARDS */

footer{
    background: rgba 107,0,0,1;

}
.footerContainer{
    width: 100%;
    padding: 50px 30px 20px;
}

.socialIcons{
    display:flex;
    justify-content: center;
    align-items: center;

}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgba 107,0,0,1;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    color: black;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color:rgba 107,0,0,1;
    padding: 20px;
    text-align: right;
}

.footerBottom p{
    color: white;
    opacity: 0.7;
}

.button-container {
    text-align: center; /* Centra el contenido horizontalmente */
    position: fixed; /* Permite que el botón esté fijo en la ventana */
    bottom: 20px; /* Espacio desde la parte inferior de la ventana */
    left: 0;
    right: 0;
  }
  
  /* Estilo para el botón */
  #back-to-home {
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    background-color: #6d6e6f; /* Color de fondo del botón (puedes cambiarlo) */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
  }
  
  #back-to-home:hover {
    background-color: #292c2e; /* Color de fondo al pasar el mouse */
  }